@import "tailwindcss";

:root {
  --background: #f7f9f9;
  --foreground: #1E1E1E;
}

@theme inline {
  --color-text: #1E1E1E;
  --color-secondary: #ffffff;
  --color-accent: #0496FF;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-weight-superbold: 1000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  Cairo, sans-serif;
  scroll-behavior: smooth;
}
